<div class="modal-container">
    <div class="title">
        <h4>{{data.mode == 'new' ? 'New': 'Edit'}} Item</h4>
    </div>
    <div class="form">
        <div class="form-field">
            <div class="field-name">
                <span>Id</span>
            </div>
            <div class="input-field">
                <input [(ngModel)]="item.id">
            </div>
        </div>

        <div class="form-field">
            <div class="field-name">
                <span>Title</span>
            </div>
            <div class="input-field">
                <input [(ngModel)]="item.title">
            </div>
        </div>

        <div class="form-field">
            <div class="field-name">
                <span>Color</span>
            </div>
            <div class="input-field">
                <input [(ngModel)]="item.color">
            </div>
        </div>

        <div class="form-field">
            <div class="field-name">
                <span>Text</span>
            </div>
            <div class="input-field">
                <textarea [(ngModel)]="item.text"></textarea>
            </div>
        </div>

        <div class="btn-wrapper text-right">
            <button mat-raised-button color="primary" class="mr-2" (click)="apply()">Apply</button>
            <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
        </div>
    </div>
</div>